// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'globals';

.comments-form .fields input,
.comments-form .fields textarea {
	display: inline-block;
  padding: 0 .4em 0 .4em;
  margin-bottom: 2em;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 50px;
  min-height: 32px;
  background-color: $white;
  border: 2px solid $gray-lighter;
  margin: 0 0 24px 0;
  font-size: 13px;
}
.comments-form .fields input:hover,
.comments-form .fields textarea:hover {
	border-color: $gray-light;
}
.comments-form .fields input:focus,
.comments-form .fields textarea:focus {
	outline: 0;
	border: 2px solid $peter-river;
}
.comments-form .fields textarea {
	width: 100%;
	padding: 5px;
}
.comments-form .fields label {
	color: $gray;
  font-weight: 600;
  display: block;
  max-width: 635px;
  padding-bottom: 8px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
